<a href="https://colab.research.google.com/github/LuisRodriguez1985/Abandono-de-Empleados/blob/main/TPS_Dia_1_Configuracion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TU PRIMERA SEMANA COMO DATA SCIENTIST (POR DS4B)

## DIA 1: CONFIGURACIÓN DEL ENTORNO

### CARGA DE LIBRERIAS

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### CARGA DE LOS DATOS

Antes de continuar deberás:

* Haber descargado los datos de la plataforma

* Haberlos descomprimido en alguna carpeta de tu disco duro

* Haberlos subido a Colab mediante el explorador de archivos (icono de carpeta - icono de subir archivo)

In [3]:
df = pd.read_csv("/content/sample_data/AbandonoEmpleados.csv", sep = ';', index_col= 'id', na_values='#N/D')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1470 entries, 1 to 2068
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   edad                      1470 non-null   int64
 1   abandono                  1470 non-null   object
 2   viajes                    1470 non-null   object
 3   departamento              1470 non-null   object
 4   distancia_casa            1470 non-null   int64
 5   educacion                 1369 non-null   object
 6   carrera                   1470 non-null   object
 7   empleados                 1470 non-null   int64
 8   satisfaccion_entorno      1470 non-null   object
 9   sexo                      1271 non-null   float64
 10  implicacion               1452 non-null   object
 11  nivel_laboral             1470 non-null   int64
 12  puesto                    1470 non-null   object
 13  satisfaccion_trabajo      1394 non-null   object
 14  estado_civil              1470 non-null   object
 15  salario_mes               1470 non-null   int64
 16  num_empresas_anteriores   1470 non-null   int64
 17  mayor_edad                1470 non-null   object
 18  horas_extra               1470 non-null   object
 19  incremento_salario_porc   1470 non-null   int64
 20  evaluacion                1470 non-null   object
 21  satisfaccion_companeros   1470 non-null   object
 22  horas_quincena            1470 non-null   int64
 23  nivel_acciones            1470 non-null   int64
 24  anos_experiencia          1470 non-null   int64
 25  num_formaciones_ult_ano   1470 non-null   int64
 26  conciliacion              459 non-null    object
 27  anos_compania             1470 non-null   int64
 28  anos_en_puesto            232 non-null    float64
 29  anos_desde_ult_promocion  1470 non-null   int64
 30  anos_con_manager_actual   1470 non-null   int64
dtypes: float64(2), int64(14), object(15)
memory usage: 367.5+ KB

### ANALISIS DE DATOS NULOS

Vamos a dectectar los nulos.

In [5]:
df.isna().sum().sort_values(ascending = False) #identificacion de los nuulos, aqui hace un conteo y despues se ordena de manera ascendente

anos_en_puesto              1238
conciliacion                1011
sexo                         199
educacion                    101
satisfaccion_trabajo          76
implicacion                   18
edad                           0
nivel_acciones                 0
evaluacion                     0
satisfaccion_companeros        0
horas_quincena                 0
anos_experiencia               0
horas_extra                    0
num_formaciones_ult_ano        0
anos_compania                  0
anos_desde_ult_promocion       0
incremento_salario_porc        0
salario_mes                    0
mayor_edad                     0
num_empresas_anteriores        0
abandono                       0
estado_civil                   0
puesto                         0
nivel_laboral                  0
satisfaccion_entorno           0
empleados                      0
carrera                        0
distancia_casa                 0
departamento                   0
viajes                         0
anos_con_manager_actual        0
dtype: int64